html, body, #root, #root>div {
  height: 100%;
}

.mainTitle {
  font-family: Arial, sans-serif;
  font-weight: lighter;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
